<button 
    type="button" 
    *ngIf="!openForm" class="btn btn-success m-r-10" 
    (click)="onNuevo()">Nuevo rol</button>
<div class="row p-t-20">
    <div class="col">
        <form *ngIf="openForm" role="form" [formGroup]="formEntity">
            <div class="form-body">
                <div class="row p-t-20">
                    <div class="col-md">
                        <div class="form-group">
                            <label class="control-label">Rol</label>
                            <input 
                                id="id"
                                name="id"
                                formControlName="id" 
                                [class.is-invalid] ="id.invalid && (id.dirty || id.touched)"
                                class="form-control"
                                placeholder="Valor automático"
                                maxlength="20">
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-group">
                            <label class="control-label">Rol</label>
                            <input 
                                id="rol"
                                name="rol"
                                formControlName="rol" 
                                [class.is-invalid] ="rol.invalid && (rol.dirty || rol.touched)"
                                class="form-control" 
                                placeholder=""
                                maxlength="50">
                            <small *ngIf="rol.errors && (rol.dirty || rol.touched)" class="text-danger">
                                <p *ngIf="rol.errors.required"> Campo obligatorio</p>
                                <p *ngIf="rol.errors.minlength"> Mínimo 4 caracteres</p>
                                <p *ngIf="rol.errors.maxlength"> Máximo 50 caracteres</p>
                            </small>
                        </div>
                    </div>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" [disabled]="formEntity.invalid" class="btn btn-success" (click)="onSave()">Guardar</button>
                    <button type="button" [disabled]="!hasEntity()" class="btn btn-success" (click)="onEliminar()">Eliminar</button>
                    <button type="button" class="btn btn-dark  m-r-10" (click)="onCancelar()">Cancelar</button>
                    <button type="button" [disabled]="!hasEntity()" class="btn btn-secondary" (click)="onPrivilegios()"><i class="fa fa-unlock-alt m-r-5" aria-hidden="true"></i>Habilitar permisos</button>
                </div>
            </div>
        </form>
     </div>
</div>