<div class="card border-dark mb-3">
    <div class="card-body">
        <div class="align-self-center">
            <h4 class="m-b-0">Estudios</h4> 
        </div>
        <div class="container-fluid">
            <ng2-smart-table class="table-responsive" 
                [settings]="settings" 
                [source]="source" 
                (userRowSelect)="userRowSelect($event)">
            </ng2-smart-table>
        </div>
    </div>
</div>