
.container {
  background-color: white;
  border-radius: 25px !important;  
  padding: 30px 15px;
  -webkit-box-shadow: 4px 6px 5px 0px rgba(174,174,174,1);
  -moz-box-shadow: 4px 6px 5px 0px rgba(174,174,174,1);
  box-shadow: 4px 6px 5px 0px rgba(174,174,174,1);
  margin-top: 6%;
}

.title-centered {
  text-align: center;
  font-family: Quicksand;
  font-size: 21px;
  font-weight: 600;
  color: #B1B1B1;
}

.subtitle {
  font-family: Quicksand;
  font-size: 16px;
  font-weight: 300;
  color: #B1B1B1;
  margin-top: 26px;
  margin-bottom: 26px;
}

hr.line-degree {
  background: linear-gradient(to right, #E3EFFD, #ABF2E5);
  height: 2px;
}

.cont {
  padding-left: 16px;
  padding-right: 16px;
}

.ingresar-txt{
  border-radius: 30px;
  background-color: #EEEEEE;
}

.ingresar {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #ffffff;
  background-color: transparent;
  background-image: linear-gradient(90deg, #a6d1fc 0%, #01dcb3 100%);
  border-radius: 30px 30px 30px 30px;
  padding: 8px 80px 8px 80px;
}

@media screen and (max-width: 800px) {
  .login-register {
    background-position: right top;
  }
}