<form *ngIf="openForm" role="form" [formGroup]="formEntity">
    <div class="form-body">
        <div class="row p-t-20">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Rol</label>
                    <input 
                        id="rol"
                        name="rol"
                        formControlName="rol" 
                        [class.is-invalid] ="rol.invalid && (rol.dirty || rol.touched)"
                        class="form-control" 
                        placeholder=""
                        maxlength="50">
                </div>
                <div class="form-group">
                    <label class="control-label">Módulo</label>
                    <input 
                        id="modulo"
                        name="modulo"
                        formControlName="modulo" 
                        [class.is-invalid] ="modulo.invalid && (modulo.dirty || modulo.touched)"
                        class="form-control"
                        maxlength="20">
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="form-check">
                    <input 
                        class="form-check-input" type="checkbox" 
                        value="" id="defaultCheck1"
                        formControlName="ver">
                    <label class="form-check-label" for="defaultCheck1">
                        Ver
                    </label>
                </div>
                <div class="form-check">
                    <input 
                        class="form-check-input" type="checkbox" 
                        value="" id="defaultCheck2"
                        formControlName="editar">
                    <label class="form-check-label" for="defaultCheck2">
                        Editar
                    </label>
                </div>
                <div class="form-check">
                    <input 
                        class="form-check-input" type="checkbox" 
                        value="" id="defaultCheck3"
                        formControlName="eliminar">
                    <label class="form-check-label" for="defaultCheck3">
                        Eliminar
                    </label>
                </div>
            </div>
            <div class="form-group col-md-6">
                <button type="button" [disabled]="formEntity.invalid" class="btn btn-success m-r-10" (click)="onSave()">Guardar</button>
                <button type="button" class="btn btn-dark" (click)="onCancelar()">Cancelar</button>
            </div>
        </div>
    </div>
</form>