<button 
    type="button" 
    *ngIf="!openForm" class="btn btn-success m-r-10" 
    (click)="onNuevo()">Nuevo usuario</button>
<form *ngIf="openForm" role="form" [formGroup]="formEntity">
    <div class="form-body">
        <div class="row p-t-20">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Usuario</label>
                    <div class="row">
                        <div class="col">
                            <input 
                                id="usuario"
                                name="usuario"
                                formControlName="usuario" 
                                [class.is-invalid] ="usuario.invalid && (usuario.dirty || usuario.touched)"
                                class="form-control" 
                                placeholder="Ej. rodrigo99"
                                maxlength="20">
                        </div>
                        <div *ngIf="selectedEntity.id > 0" class="col">
                            <button type="button" class="btn btn-succes m-r-10" (click)="onResetPassword()"> Contraseña <i class="fa fa-recycle" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <small *ngIf="usuario.errors && (usuario.dirty || usuario.touched)" class="text-danger">
                        <p *ngIf="usuario.errors.required"> Campo obligatorio</p>
                        <p *ngIf="usuario.errors.minlength"> Mínimo 4 caracteres</p>
                        <p *ngIf="usuario.errors.maxlength"> Máximo 20 caracteres</p>
                    </small>
                </div>
                <div class="form-group">
                    <label class="control-label">Apellido/s</label>
                    <input 
                        id="apellido"
                        name="apellido"
                        formControlName="apellido" 
                        [class.is-invalid] ="apellido.invalid && (apellido.dirty || apellido.touched)"
                        class="form-control" 
                        placeholder=""
                        maxlength="50">
                    <small *ngIf="apellido.errors && (apellido.dirty || apellido.touched)" class="text-danger">
                        <p *ngIf="apellido.errors.required"> Campo obligatorio</p>
                        <p *ngIf="apellido.errors.minlength"> Mínimo 4 caracteres</p>
                        <p *ngIf="apellido.errors.maxlength"> Máximo 50 caracteres</p>
                    </small>
                </div>
                <div class="form-group">
                    <label class="control-label">Nombre/s</label>
                    <input 
                        id="nombre"
                        name="nombre"
                        formControlName="nombre" 
                        [class.is-invalid] ="nombre.invalid && (nombre.dirty || nombre.touched)"
                        class="form-control" 
                        placeholder=""
                        maxlength="50">
                    <small *ngIf="nombre.errors && (nombre.dirty || nombre.touched)" class="text-danger">
                        <p *ngIf="nombre.errors.required"> Campo obligatorio</p>
                        <p *ngIf="nombre.errors.minlength"> Mínimo 4 caracteres</p>
                        <p *ngIf="nombre.errors.maxlength"> Máximo 50 caracteres</p>
                    </small>
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="form-group">
                    <label class="control-label">Rol</label>
                    <select 
                        id="rol"
                        name="rol"
                        formControlName="rol" 
                        [class.is-invalid] ="rol.invalid && (rol.dirty || rol.touched)"
                        class="form-control custom-select">
                        <option *ngFor="let instance of dataRoles" [value]="instance.id" [selected]="instance.id === selectedEntity.idrol">{{instance.rol}}</option>
                    </select>
                    <small *ngIf="rol.errors && (rol.dirty || rol.touched)" class="text-danger">
                        Seleccione un rol.
                    </small>
                </div>
                <div class="form-group">
                    <label class="control-label">Url foto</label>
                    <input 
                        id="fotourl"
                        name="fotourl"
                        formControlName="fotourl" 
                        [class.is-invalid] ="fotourl.invalid && (fotourl.dirty || fotourl.touched)"
                        class="form-control" 
                        placeholder=""
                        maxlength="512">
                    <small *ngIf="fotourl.errors && (fotourl.dirty || fotourl.touched)" class="text-danger">
                        <p *ngIf="fotourl.errors.required"> Campo obligatorio</p>
                        <p *ngIf="fotourl.errors.pattern"> Formato de url incorrecto</p>
                        <p *ngIf="fotourl.errors.minlength"> Mínimo 4 caracteres</p>
                        <p *ngIf="fotourl.errors.maxlength"> Máximo 512 caracteres</p>
                    </small>
                    <img [src]="fotourl.invalid ? 'assets/images/users/profile-template.png' : fotourl.value" class="img-circle" height="100" />
                </div>
            </div>
            <div class="form-group col-md-6">
                <button type="button" [disabled]="formEntity.invalid" class="btn btn-success m-r-10" (click)="onSave()">Guardar</button>
                <button type="button" [disabled]="!hasEntity()" class="btn btn-success m-r-10" (click)="onEliminar()">Eliminar</button>
                <button type="button" class="btn btn-dark" (click)="onCancelar()">Cancelar</button>
            </div>
        </div>
    </div>
</form>