<div class="card border-dark mb-3">
    <div class="card-body">
        <app-usuario [selectedEntity]="selectedEntity" (entityUpdated)="handleItemUpdated($event)"></app-usuario>
    </div>
</div>
<div class="card border-dark mb-3">
    <div class="card-body">
        <div class="container-fluid">
            <ng2-smart-table class="table-responsive" 
                [settings]="settings" 
                [source]="source" 
                (userRowSelect)="userRowSelect($event)">
            </ng2-smart-table>
        </div>
    </div>
</div>